{% extends "dashboard.html" %}

{% block task_list %}
<!-- SECOND SECTION -->
<section class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- TODAY'S TASK -->
    <div class="p-6 bg-white rounded-lg shadow-sm">
        <h1 class="text-3xl font-bold mb-2">Today's Task</h1>
        <div class="flex justify-between items-center mb-1">
            <div>
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                    <p>Completed project proposal</p>
                </div>
            </div>
            <p class="text-gray-500">High</p>
        </div>
        <div class="flex justify-between items-center mb-1">
            <div>
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                    <p>Review team updates</p>
                </div>
            </div>
            <p class="text-gray-500">Normal</p>
        </div>
        <div class="flex justify-between items-center mb-1">
            <div>
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-blue-500 rounded-full"></div>
                    <p>Prepare for client meeting</p>
                </div>
            </div>
            <p class="text-gray-500">Low</p>
        </div>
    </div>

    <!-- ALL TASKS -->
    <div class="p-6 bg-white rounded-lg shadow-sm">
        <h1 class="text-3xl font-bold mb-2">All Task</h1>
        <div>
            <div class="grid grid-cols-4 gap-4 mb-4 text-gray-500 font-semibold">
                <h1>TASK TITLE</h1>
                <h1>PRIORITY</h1>
                <h1>TEAM</h1>
                <h1>CREATED AT</h1>
            </div>
            <div class="grid grid-cols-4 gap-4 mb-6">
                <div>
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                        <p>Test Low Task</p>
                    </div>
                </div>
                <div>
                    <p>
                        <span class="text-sm font-semibold text-blue-500 bg-blue-100 p-2 rounded-lg">
                            Low
                        </span>
                    </p>
                </div>
                <div class="flex items-center -space-x-3">
                    <div>
                        <p><span
                                class="bg-blue-500 text-white p-2 border border-slate-50 text-sm rounded-full">CA</span>
                        </p>
                    </div>
                    <div>
                        <p><span
                                class="bg-green-500 text-white p-2 border border-slate-50 text-sm rounded-full">JS</span>
                        </p>
                    </div>
                    <div>
                        <p><span
                                class=" bg-yellow-500 text-white p-2 border border-slate-50 text-sm rounded-full">BP</span>
                        </p>
                    </div>
                </div>
                <div>
                    <p class="text-gray-500 text-sm font-medium">9 months ago</p>
                </div>
            </div>
            <div class="grid grid-cols-4 gap-4 mb-6">
                <div>
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                        <p>Test Normal Task</p>
                    </div>
                </div>
                <div>
                    <p>
                        <span class="text-sm font-semibold text-gray-500 bg-gray-100 p-2 rounded-lg">
                            Normal
                        </span>
                    </p>
                </div>
                <div class="flex items-center -space-x-3">
                    <div>
                        <p><span
                                class="bg-red-500 text-white p-2 border border-slate-50 text-sm rounded-full">EV</span>
                        </p>
                    </div>
                    <div>
                        <p><span
                                class="bg-purple-500 text-white p-2 border border-slate-50 text-sm rounded-full">CP</span>
                        </p>
                    </div>
                    <div>
                        <p><span
                                class=" bg-yellow-500 text-white p-2 border border-slate-50 text-sm rounded-full">SP</span>
                        </p>
                    </div>
                </div>
                <div>
                    <p class="text-gray-500 text-sm font-medium">9 months ago</p>
                </div>
            </div>
            <div class="grid grid-cols-4 gap-4 mb-6">
                <div>
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 bg-red-500 rounded-full"></div>
                        <p>Test High Task</p>
                    </div>
                </div>
                <div>
                    <p>
                        <span class="text-sm font-semibold text-red-500 bg-red-100 p-2 rounded-lg">
                            High
                        </span>
                    </p>
                </div>
                <div class="flex items-center -space-x-3">
                    <div>
                        <p><span
                                class="bg-blue-500 text-white p-2 border border-slate-50 text-sm rounded-full">CA</span>
                        </p>
                    </div>
                    <div>
                        <p><span
                                class="bg-green-500 text-white p-2 border border-slate-50 text-sm rounded-full">JS</span>
                        </p>
                    </div>
                    <div>
                        <p><span
                                class="bg-red-500 text-white p-2 border border-slate-50 text-sm rounded-full">RD</span>
                        </p>
                    </div>
                    <div>
                        <p><span
                                class=" bg-yellow-500 text-white p-2 border border-slate-50 text-sm rounded-full">BP</span>
                        </p>
                    </div>
                </div>
                <div>
                    <p class="text-gray-500 text-sm font-medium">9 months ago</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock task_list %}